* {
  margin: 0;
  /* overflow: hidden; */
}

.app {
  background-color: #fafafa;
  /* overflow-y: scroll; */
}

.app::-webkit-scrollbar {
  display: none;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_header_image {
  object-fit: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}
